
.alkaid-input{
    width: 10rem;
    height: 1.6rem;
    padding: 0.4rem 0.8rem;
    border: 0;
    border-radius: 0.5rem;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size:1rem;
    border: 1px solid #d9d9d9;
}
.alkaid-button{
    width: 10rem;
    height: 2rem;
    color: #fff;
    background: #6ca4ea;
    border: 0;
    border-radius: 0.5rem;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    cursor: pointer;
}
.alkaid-box{
    width:100%;
    height: 100%;
}
.alkaid-col{
    width:100%;
    height: 100%;
}
